<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><img src="assets/images/icons/close3.png " ></button> -->
            <div class="orderConfirmContainer d-flex justify-content-center">
                <img src="../../../../assets/images/icons/delivery.gif" class="br-0 h-auto w-25">
                <p class="text2">Fetching the best delivery price for you...</p>
            </div>
        </div>
    </div>
</div>