<div>

    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container p-0 d-flex">
            <button class="navbar-toggler headerButtonLeft " type="button ">
                <img src="assets/images/icons/back.png " class="headerIconLeft " (click)="goBack();" >
            </button>
            <div class="d-inline-block">
                <a class="navbar-brand cartHeader" href="" data-bs-toggle="offcanvas" data-bs-target="#selectDeliveryLocation">Order Status</a>
            </div>
            <button class="navbar-toggler headerButton " type="button " data-bs-toggle="offcanvas" data-bs-target="#contactSupport">
            <img src="assets/images/icons/support.png " class="headerIcon "  >
        </button>
        </div>
    </nav>

    <div class="container my-3 orderStatusContainer">
        <div class="row ">
            <div class="col-md-12 orderStatus">
                @if (cancelled || isOrderStatusReached('CANCELLED')) {
                    <div class="cancel">
                        <img height="100px" src="./../../../assets/images/food_order_canceelled.png" alt=""> 
                    <p class="msg-text"> <span >Sorry!!</span> <br> Your order has been cancelled. <br>You will receive refund shortly.</p>
                    </div>
                    
                }
                @else {
                    <ul> 
                        <li [ngClass]="{'active': isOrderStatusReached('PAID')}">Order Received</li>
                        <li [ngClass]="{'active': isOrderStatusReached('ACCEPTED')}">Preparing Food</li>
                        <li [ngClass]="{'active': isOrderStatusReached('PICKED_UP')}">Order Picked Up</li>
                        <li [ngClass]="{'active': isOrderStatusReached('OUT_FOR_DELIVERY')}" >Out for Delivery</li>
                        <li [ngClass]="{'active': isOrderStatusReached('DELIVERED')}">Order Delivered</li>
                    </ul>
                }
               
            </div>
            <!-- <div class="container my-3 bg-transparent ">
                <div class="row m-auto">
                    <div class="col-6 deliveryPerson">
                        <button class="btn simpleBtn">
                        <img src="assets/images/icons/phone2.png" ></button>
                        <p>Dappu Bharath</p>
                        <span>Delivery Partner</span>
                    </div>
                    <div class="offset-2 col-4 deliveryAt">
                        <span>ARRIVING IN</span>
                        <p>15 mins</p>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="container my-3 bg-transparent orderStatusCont">
            <div class="row ">
                <div class="col-md-12 orderDetails ">
                    <p>Order Details</p>
                    <span class="septor">{{ orderStatus?.orderItems?.length }} Item@if(orderStatus?.orderItems?.length > 2){s} </span> |
                    <span>Paid ₹{{ orderStatus?.grandTotalAmount | number:'1.2-2'}}</span>
                    <span class="order">Order # {{orderStatus?.id}}
                        <br><span >{{orderStatus?.orderTime | date:'d MMM y, h:mm a':'+1100' }}</span>
                    </span>
                   
                    @if(!viewSummary){
                        <p class="viewSummary cursor-pointer" (click)="viewSummary = true;">View Summary</p>
                    }
                    @if(viewSummary){
                        <p class="viewSummary cursor-pointer" (click)="viewSummary = false;">Hide Summary</p>
                    }
                   
                </div>
                @if(viewSummary){
                    <div class="card foodCard my-3 overflow-auto">
                        @for (item of currentOrder?.data[0].orderItems; track $index) {
                            <div class="card-body foodTile cartFoodTile">
                                <div class="row ">
                                    <div class="col-12 col-md-12 food-item veg ">
                                        <h5 class="card-title cartFoodTitle nonVeg">{{item.name}}</h5>
                                        <span class="addon">{{item?.variationName}}</span>
                                        <span class="price mx-2">₹ {{item.quantity * item?.price | number:'1.2-2'}}</span>
                                        <!-- <span class="priceStrike ">₹ 300</span> -->
                                        <span class="qty ">{{item.quantity}} X ₹{{item?.price | number:'1.2-2'}}</span>
                                    </div>
                                </div>
                            </div>
                        }
                        
                        <!-- <div class="card-body foodTile cartFoodTile">
                            <div class="row ">
                                <div class="col-12 col-md-12 food-item veg ">
                                    <h5 class="card-title cartFoodTitle veg">Veg Biryani</h5>
                                    <span class="addon">Full</span>
                                    <span class="price ">₹ 225</span>
                                    <span class="priceStrike ">₹ 300</span>
                                    <span class="qty ">1 X ₹225</span>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-md-12 ">
                            <ul class="cartCheckout">
                                <li>
                                    <p class="cartVal">Item Total<span>₹ {{currentOrder?.data[0].totalAmount + currentOrder?.data[0].discountAmount | number:'1.2-2'}}</span></p>
                                </li>
                                @if (currentOrder?.data[0]?.addonPrice) {
                                    <li>
                                        <p class="cartVal">Add-On Price<span>₹ {{currentOrder?.data[0]?.addonPrice | number:'1.2-2'}}</span></p>
                                    </li>
                                }
                                <li>
                                    <p class="cartVal">Delivery Fee<span>₹ {{currentOrder?.data[0].deliveryCharge | number:'1.2-2'}}</span></p>
                                </li>
                                <li>
                                    <p class="cartVal">TAX Value<span>₹ {{currentOrder?.data[0].taxAmount | number:'1.2-2'}} </span></p>
                                </li>
                                <!-- <li>
                                    <p class="cartVal">CGST<span>₹ 5</span></p>
                                </li>
                                <li>
                                    <p class="cartVal">SGST<span>₹ 5</span></p>
                                </li> -->
                                <!-- <li>
                                    <p class="cartVal disc">Coupon applied (HYPERDEAL)<span>-₹ 150</span></p>
                                </li> -->
                                <li *ngIf="currentOrder?.data[0].discountAmount">
                                    <p class="cartVal disc">Discounted Value<span>-₹ {{currentOrder?.data[0].discountAmount | number:'1.2-2'}}</span></p>
                                </li>
                                <li>
                                    <p class="cartValCategory">Grand Total<span>₹  {{currentOrder?.data[0].grandTotalAmount | number:'1.2-2'}} </span></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                }@if(!viewSummary) {
                    <div class="col-md-12 addressDetails">
                        <p>Delivery Address</p>
                        <span>{{addressDetails}}</span>
                    </div>
                }
                

              
            </div>
        </div>
        <div class="container my-3 bg-transparent p-0">
            @if (orderStatus?.deliveryTrackingLink != null ){
                <div class="row ">
                    <div class="col-md-12 ">
                        <button class="btn solidButton mb-3" (click)="navigateMap()">
                            {{ showMap ? 'Hide Map  ▼' : 'Track Order' }}
                        </button>
                        @if (showMap) {
                            <div class="map-container">
                                <div class="iframe-wrapper">
                                    <iframe 
                                        [src]="orderStatus?.deliveryTrackingLink | safeUrl" 
                                        width="100%" 
                                        height="100%"
                                        frameborder="0"
                                        style="border: 0; min-height: 600px;"
                                        allowfullscreen 
                                        loading="lazy"
                                        referrerpolicy="no-referrer-when-downgrade"
                                        class="interactive-iframe">
                                    </iframe>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>

    <!-- Customer Support Bottom Sheet -->
    <div class="offcanvas offcanvas-bottom bottomSheet" tabindex="-1" id="contactSupport">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title btmHeader">Customer Support</h5>
            <button type="button" class="btn-close bottomClose" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            @if (restaurentId != null || restaurentId != undefined){
            <p class="btmSptCnt ">Restaurant <span>+91-{{ branchData?.supportContact}}</span></p>
            <p class="btmSptCnt ">Hyperapps <span>+91-{{ contactHyperapps }}</span></p>
            }

        </div>
    </div>
