<div>
    
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container p-0 d-flex">
            <button class="navbar-toggler headerButtonLeft " type="button ">
                <img src="assets/images/icons/back.png " class="headerIconLeft " (click)="goBack();" >
            </button>
            <div class="d-inline-block">
                <a class="navbar-brand cartHeader" href="" data-bs-toggle="offcanvas" data-bs-target="#selectDeliveryLocation">Order Status</a>
            </div>
            <button class="navbar-toggler headerButton " type="button " data-bs-toggle="offcanvas" data-bs-target="#contactSupport">
            <img src="assets/images/icons/support.png " class="headerIcon "  >
        </button>
        </div>
    </nav>

    <div class="container my-3 orderStatusContainer">
        <div class="row ">
            <div class="col-md-12 orderStatus">
                <ul>
                    <li [ngClass]="{'active': isOrderStatusReached('PAID')}">Order Received</li>
                    <li [ngClass]="{'active': isOrderStatusReached('ACCEPTED')}">Preparing Food</li>
                    <li [ngClass]="{'active': isOrderStatusReached('PICKED_UP')}">Order Picked Up</li>
                    <li [ngClass]="{'active': isOrderStatusReached('OUT_FOR_DELIVERY')}" >Out for Delivery</li>
                    <li [ngClass]="{'active': isOrderStatusReached('DELIVERED')}">Order Delivered</li>
                </ul>
            </div>
            <!-- <div class="container my-3 bg-transparent ">
                <div class="row m-auto">
                    <div class="col-6 deliveryPerson">
                        <button class="btn simpleBtn">
                        <img src="assets/images/icons/phone2.png" ></button>
                        <p>Dappu Bharath</p>
                        <span>Delivery Partner</span>
                    </div>
                    <div class="offset-2 col-4 deliveryAt">
                        <span>ARRIVING IN</span>
                        <p>15 mins</p>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="container my-3 bg-transparent orderStatusCont">
            <div class="row ">
                <div class="col-md-12 orderDetails ">
                    <p>Order Details</p>
                    <span class="septor">{{ orderStatus?.orderItems?.length }} Item@if(orderStatus?.orderItems?.length > 2){s} </span> |
                    <span>Paid ₹{{ orderStatus?.grandTotalAmount }}</span>
                    <span class="order">Order # {{orderStatus?.id}}
                        <br><span >{{orderStatus?.orderTime | date:'h:mm a'}}</span>
                    </span>
                    <p class="viewSummary">View Summary</p>
                </div>
                <div class="col-md-12 addressDetails">
                    <p>Delivery Address</p>
                    <span>{{addressDetails}}</span>
                </div>
            </div>
        </div>
        <div class="container my-3 bg-transparent p-0">
            @if (orderStatus?.deliveryTrackingLink != null ){
                <div class="row ">
                    <div class="col-md-12 ">
                        <button class="btn solidButton"  (click)="navigateMap()"> Track Order</button>
                        <!-- <button class="btn solidButton"> Done</button> -->
                    </div>
                </div>
            }
           
        </div>
    </div>
</div>

    <!-- Customer Support Bottom Sheet -->
    <div class="offcanvas offcanvas-bottom bottomSheet" tabindex="-1" id="contactSupport">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title btmHeader">Customer Support</h5>
            <button type="button" class="btn-close bottomClose" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            @if (restaurentId != null || restaurentId != undefined){
            <p class="btmSptCnt ">Restaurant <span>+91-{{ branchData?.supportContact}}</span></p>
            <p class="btmSptCnt ">Hyperapps <span>+91-{{ contactHyperapps }}</span></p>
            }

        </div>
    </div>