.headerIconLeft,
.headerIcon {
    width: 24px;
    height: 24px;
    margin-left: 12px;
}


.cartHeader {
    font-size: 18px;
    font-weight: 600;
}

.headerIcon{
    width: 24px;
    height: 24px;
    margin-right: 12px;
}
.cancel{
    text-align: center;
    padding: 15px;

    .msg-text{
        font-weight:500;
        color: #212529;

        span{
            font-weight: 700;
            font-size: 16px;
            color: #d20500;
        }
    }
}

.zomato-banner {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .zomato-weather {
    background-color: #f0f0f0;
    color: #212529;
  }

  .zomato-comm {
    background-color: #e9ecef;
    color: #212529;
  }

  .zomato-icon {
    font-size: 20px;
  }

  .zomato-text {
    font-size: 14px;
    font-weight: 500;
  }
