<div class="offcanvas-header">
    <h5 class="offcanvas-title btmHeaderLoc">Select Delivery Location</h5>
    <button type="button" class="btn-close bottomClose" data-bs-dismiss="offcanvas"></button>
</div>
@if(unServiceableValue){
<div id="locationNotServiceable">
    <div class="offcanvas-body">
        <img src="assets/images/icons/locationNotServiceable.png">
        <p class="title">Oops! Out of Reach</p>
        <p class="desc">We can't deliver to this location yet.</p>
        <button class="btn solidButton" (click)="unServiceableValue = false;"> Change Location </button>
    </div>
</div>
}@else {
<div class="offcanvas-body">
    <div class="row ">
        <div class="col-md-12 pos-rel ">
            <img src="assets/images/icons/search.png " class="searchIcon">
            <input type="text " class="form-control searchText " placeholder="Search a new address"
                (input)="search($event)">
        </div>
    </div>
    <div class="container">
        <div class="row addressDetailPageContainer">
            @if (editLocationValue && searchResults.length == 0) {
            <div class="col-md-12 p-0 mapAddress" style="height: 400px;">
                <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d30468.04554232425!2d78.565699!3d17.339383!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcba3427bf787ad%3A0xd353a7d2d429feb!2sAnkapur%20Village%20-%20A%20Military%20Hotel%20(Vanasthalipuram)!5e0!3m2!1sen!2sin!4v1739698519949!5m2!1sen!2sin "
                    width="100% " allowfullscreen=" " loading="lazy " referrerpolicy="no-referrer-when-downgrade "></iframe> -->
                    
                        <app-location-picker class="appLocationPicker" style="height: 100%; width: 100%; display: block;"  [editLocationData]="editLocationValue" (selectedLocation)="getSelectedLocation($event)"></app-location-picker>
                 
                   
            </div>
        }
            <!-- <div class="col-md-12 addressPage"> -->
                <!-- <img src="assets/images/icons/edit2.png" (click)="editLocation()" class="editIcon"> -->
                <!-- <p>Madhapur Metro Station</p> -->
                <!-- <span>{{ selectedLocation?.formattedAddress }}</span> -->
            <!-- </div> -->
        </div>
    </div>
    <!-- <p class="btmCurLoc cursor-pointer">Use my current location</p> -->
    <!-- (click)="getMyCurrentLocation()" -->

    <ul class="locationBtm">
        <ng-container *ngFor="let result of searchResults">
            <li title="Click to Select" class="cursor-pointer" (click)="selectResult(result)">
                <p class="locationAddr">{{ result.text | splitFirstComma | slice:0:1 }}</p>
                <span class="locationDes"> {{ result.text | splitFirstComma | slice:1:2 }}</span>
            </li>
        </ng-container>
    </ul>
</div>
}