<div class="offcanvas-header">
    <!-- Floating Close Button -->
    <div style="position: fixed; top: 10%; left: 44%;background-color: black;border-radius: 50%;">
        <button 
            type="button" 
            class="btn-close"
            aria-label="Close"
            data-bs-dismiss="offcanvas"
            style="
                border-radius: 50%;
                width: 48px;
                height: 48px;
                font-size: 20px;
                padding: 0;
                margin-left: -7px;
                cursor: pointer;
                color: white;
            "
            aria-label="Close"
        >
        </button>
    </div>
    <h5 class="offcanvas-title btmHeaderLoc">Select Delivery Location</h5>
    <button type="button" class="btn-close bottomClose" data-bs-dismiss="offcanvas"></button>
</div>
@if(unServiceableValue){
<div id="locationNotServiceable">
    <div class="offcanvas-body">
        <img src="assets/images/icons/locationNotServiceable.png">
        <p class="title">Oops! Out of Reach</p>
        <p class="desc">We can't deliver to this location yet.</p>
        <button class="btn solidButton" (click)="unServiceableValue = false;"> Change Location </button>
    </div>
</div>
}@if(!unServiceableValue) {
<div class="offcanvas-body">
    <div class="row ">
        <div class="col-md-12 pos-rel ">
            <img src="assets/images/icons/search.png " class="searchIcon">
            <input type="text " class="form-control searchText " placeholder="Search a new address"
                (input)="search($event)">
        </div>
    </div>
    <p class="btmCurLoc cursor-pointer" (click)="getMyCurrentLocation()">Use my current location</p>
    <div class="container">
        <div class="row addressDetailPageContainer">
            @if (editLocationValue && searchResults.length == 0) {
            <div class="col-md-12 p-0 mapAddress" style="height: 400px;">
                <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d30468.04554232425!2d78.565699!3d17.339383!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcba3427bf787ad%3A0xd353a7d2d429feb!2sAnkapur%20Village%20-%20A%20Military%20Hotel%20(Vanasthalipuram)!5e0!3m2!1sen!2sin!4v1739698519949!5m2!1sen!2sin "
                    width="100% " allowfullscreen=" " loading="lazy " referrerpolicy="no-referrer-when-downgrade "></iframe> -->
                        
                        <app-location-picker class="appLocationPicker" style="height: 100%; width: 100%; display: block;"  [editLocationData]="editLocationValue" (selectedLocation)="getSelectedLocation($event)"></app-location-picker>
                 
                   
            </div>
        }
            <!-- <div class="col-md-12 addressPage"> -->
                <!-- <img src="assets/images/icons/edit2.png" (click)="editLocation()" class="editIcon"> -->
                <!-- <p>Madhapur Metro Station</p> -->
                <!-- <span>{{ selectedLocation?.formattedAddress }}</span> -->
            <!-- </div> -->
        </div>
    </div>
    <!-- <p class="btmCurLoc cursor-pointer">Use my current location</p> -->
    <!-- (click)="getMyCurrentLocation()" -->

        <!-- <div class="offcanvas-body" *ngIf="!editLocationValue && searchResults.length == 0">
            <h5 class="section-title">Our Outlets</h5>
            <ul class="locationBtm">
                @for (item of partnerData?.restaurantDetails; track $index) {
                <li class="cursor-pointer"
                    [ngClass]="{'unavailable-item': !availableBranchData?.includes(item.id)}" style="border-bottom: none">
                    <div>
                        <p class="locationAddr">{{item.restaurantName}}</p>
                        <div class="outlet-meta">
                            <span class="locationDes">{{ getLocationDisplay(item) }}</span>
                            <span class="status-badge" [ngClass]="item.serviceable ? 'status-open' : 'status-closed'">
                                {{item.serviceable ? 'Open Now' : 'Closed'}}
                            </span>
                        </div>
                    </div>
                </li>
                }
            </ul>
        </div> -->

        <div *ngIf="!editLocationValue && searchResults.length == 0">
            <ul class="locationBtm">
                @for (location of getSuggestedLocations(); track $index) {
                <li  title="Click to Select" class="cursor-pointer" 
                    (click)="selectSuggestedLocation(location)">
                    <p class="locationAddr">{{ location.name.split(' ')[0] }}</p>
                    <span class="locationDes">{{ location.name.split(' ').slice(1).join(' ') }}</span>
                        <!-- <div class="outlet-meta" style="display: flex; justify-content: space-between; align-items: center; margin-top: 5px;">
                            <span class="locationDes" style="color: #666; font-size: 13px;">Tap to select</span>
                            <span class="status-badge status-open" *ngIf="location.isServiceable" 
                                  style="background: #e8f5e9; color: #2e7d32; padding: 2px 8px; border-radius: 10px; font-size: 12px; font-weight: 500;">
                                Available
                            </span>
                        </div> -->
                </li>
                }
            </ul>
        </div>

    <ul class="locationBtm">
        <ng-container *ngFor="let result of searchResults">
            <li title="Click to Select" class="cursor-pointer" (click)="selectResult(result)">
                <p class="locationAddr">{{ result.text | splitFirstComma | slice:0:1 }}</p>
                <span class="locationDes"> {{ result.text | splitFirstComma | slice:1:2 }}</span>
            </li>
        </ng-container>
    </ul>
</div>
}