<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <!-- <button type="button" class="btn-close close-icon">
                <img src="assets/images/icons/close3.png " >
            </button> -->
            <div class="orderConfirmContainer d-flex justify-content-center">
                <img src="assets/images/icons/dish.png" class="br-0">
                <p class="text1">Something Went Wrong</p>
                <p class="text2">Please try again later.</p>
                <button class="btn plainButton" [routerLink]="['/home']">Retry</button>
            </div>
        </div>
    </div>
</div>