@if (loading) {
    <app-menu-loader></app-menu-loader>
} @else {
    <div class="topSection">
        <div class="container p-0 d-block">
            <img class="landingImg" src="../../../assets/images/landing.png">
    
            <div class="landingPageContainer">
                <div class="col-12 p-8">
                    <img class="resLogo" style="height: 120px !important;"     src="../../../assets/images/chaitanya-logo.png">
                    <p class="text1">Welcome to</p>
                    <p class="text2">Chaitanya Food Court!</p>
                    <p class="text3">Enjoy your favorite food delivered right to your doorstep.</p>
                    <p class="text4">Set your delivery location to get started</p>
                    <div class="col-md-12 ">
                        <button class="btn searchLocationBtn " data-bs-toggle="offcanvas" data-bs-target="#selectDeliveryLocation"> <span class="btnText ">Select your location </span></button>
                    </div>
                </div>
    
                <div class="container my-3 bg-transparent ">
                    <div class="row ">
                        <div class="col-4 p-05">
                            <div class="off bg-transparent text-dark landingDeals ">
                                <h2>Flat 25% off on all items</h2>
                            </div>
                        </div>
                        <div class="col-4 p-05">
                            <div class="hc bg-transparent text-dark landingDeals ">
                                <h2>No Hidden Charges</h2>
                            </div>
                        </div>
                        <div class="col-4 p-05">
                            <div class="otd bg-transparent text-dark landingDeals ">
                                <h2>On Time Delivery</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container my-3 bg-transparent ">
                    <div class="row ">
                        <div class="col-12">
                            <p class="laandingHeading">About</p>
                            <span class="landingAboutTitle">Savor the Heart of South India:</span>
                            <span class="landingAboutDes">At Chaitanya Food Court, located in the vibrant KPHB Colony of Kukatpally, Hyderabad, we bring the rich culinary heritage of Andhra and South Indian cuisines to your plate. Our diverse menu features a delightful array of dishes—from crispy dosas and flavorful sambar rice to our signature fried chicken piece biryani—each prepared with fresh ingredients and authentic spices<br>you're dining in, picking up, or ordering online, we ensure a seamless experience that delights your taste buds. Experience warm hospitality and the true essence of Southern flavors with every bite at Chaitanya Food Court.​</span>
                        </div>
                    </div>
                </div>
    
                <div class="container my-3 bg-transparent ">
                    <div class="row ">
                        <div class="col-12">
                            <p class="laandingHeading">Gallery</p>
                            <div class="gallery-slider">
                                <img src="../../../assets/images/image1.jpg" />
                                <img src="../../../assets/images/image2.jpg" />
                                <img src="../../../assets/images/image3.jpg" />
                                <img src="../../../assets/images/image4.jpg" />
                                <img src="../../../assets/images/image5.jpg" />
                                <img src="../../../assets/images/image6.jpg" />
                                <img src="../../../assets/images/image7.jpg" />
                                <img src="../../../assets/images/image8.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="container my-3 bg-transparent ">
                    <div class="row ">
                        <div class="col-12">
                            <p class="laandingHeading">Customer Reviews</p>
    
                            <div id="offerCarousel1" class="carousel slide deals " data-bs-ride="carousel" data-bs-interval="2000">
                                <div class="carousel-inner ">
                                    <!-- Offer Slide -->
                                    <div class="carousel-item active ">
                                        <div class="bg-transparent text-dark ">
                                            <svg width="16" height="11" viewBox="0 0 16 11" fill="#B04F4F;" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0 4.125C0 1.84594 1.91786 0 4.28571 0H4.57143C5.20357 0 5.71429 0.491562 5.71429 1.1C5.71429 1.70844 5.20357 2.2 4.57143 2.2H4.28571C3.18214 2.2 2.28571 3.06281 2.28571 4.125V4.4H4.57143C5.83214 4.4 6.85714 5.38656 6.85714 6.6V8.8C6.85714 10.0134 5.83214 11 4.57143 11H2.28571C1.025 11 0 10.0134 0 8.8V4.125ZM9.14286 4.125C9.14286 1.84594 11.0607 0 13.4286 0H13.7143C14.3464 0 14.8571 0.491562 14.8571 1.1C14.8571 1.70844 14.3464 2.2 13.7143 2.2H13.4286C12.325 2.2 11.4286 3.06281 11.4286 4.125V4.4H13.7143C14.975 4.4 16 5.38656 16 6.6V8.8C16 10.0134 14.975 11 13.7143 11H11.4286C10.1679 11 9.14286 10.0134 9.14286 8.8V4.125Z" fill="#B04F4F"/>
                                                </svg>
    
                                            <h2 class="customerReview textColor">“Good taste and value for money. Loved the quality of service and ambience at this place.”</h2>
                                            <span class="wwdDes crDes textColor ">Lokesh </span>
                                        </div>
                                    </div>
    
                                    <div class="carousel-item ">
                                        <div class="bg-transparent text-dark ">
                                            <svg width="16" height="11" viewBox="0 0 16 11" fill="#633ECE;" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0 4.125C0 1.84594 1.91786 0 4.28571 0H4.57143C5.20357 0 5.71429 0.491562 5.71429 1.1C5.71429 1.70844 5.20357 2.2 4.57143 2.2H4.28571C3.18214 2.2 2.28571 3.06281 2.28571 4.125V4.4H4.57143C5.83214 4.4 6.85714 5.38656 6.85714 6.6V8.8C6.85714 10.0134 5.83214 11 4.57143 11H2.28571C1.025 11 0 10.0134 0 8.8V4.125ZM9.14286 4.125C9.14286 1.84594 11.0607 0 13.4286 0H13.7143C14.3464 0 14.8571 0.491562 14.8571 1.1C14.8571 1.70844 14.3464 2.2 13.7143 2.2H13.4286C12.325 2.2 11.4286 3.06281 11.4286 4.125V4.4H13.7143C14.975 4.4 16 5.38656 16 6.6V8.8C16 10.0134 14.975 11 13.7143 11H11.4286C10.1679 11 9.14286 10.0134 9.14286 8.8V4.125Z" fill="#633ECE"/>
                                                </svg>
                                            <h2 class="customerReview textColor">“The fried chicken piece biryani was one of the very good ones I have eaten till now. Extra raita and spice requests were perfectly fulfilled. Packing was spot‑on—worth every rupee.”</h2>
                                            <span class="wwdDes crDes textColor ">Rahul Mathe</span>
                                        </div>
                                    </div>
    
                                    <div class="carousel-item ">
                                        <div class="bg-transparent text-dark ">
                                            <svg width="16" height="11" viewBox="0 0 16 11" fill="#0A8F08;" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0 4.125C0 1.84594 1.91786 0 4.28571 0H4.57143C5.20357 0 5.71429 0.491562 5.71429 1.1C5.71429 1.70844 5.20357 2.2 4.57143 2.2H4.28571C3.18214 2.2 2.28571 3.06281 2.28571 4.125V4.4H4.57143C5.83214 4.4 6.85714 5.38656 6.85714 6.6V8.8C6.85714 10.0134 5.83214 11 4.57143 11H2.28571C1.025 11 0 10.0134 0 8.8V4.125ZM9.14286 4.125C9.14286 1.84594 11.0607 0 13.4286 0H13.7143C14.3464 0 14.8571 0.491562 14.8571 1.1C14.8571 1.70844 14.3464 2.2 13.7143 2.2H13.4286C12.325 2.2 11.4286 3.06281 11.4286 4.125V4.4H13.7143C14.975 4.4 16 5.38656 16 6.6V8.8C16 10.0134 14.975 11 13.7143 11H11.4286C10.1679 11 9.14286 10.0134 9.14286 8.8V4.125Z" fill="#0A8F08"/>
                                                </svg>
                                            <h2 class="customerReview textColor">“Good taste. Loved the quality, promotions, delivery, product range, and packaging at this place.”</h2>
                                            <span class="wwdDes crDes textColor ">Ranjith Bigboss </span>
                                        </div>
                                    </div>
                                    <div class="carousel-item ">
                                        <div class="bg-transparent text-dark ">
                                            <svg width="16" height="11" viewBox="0 0 16 11" fill="#086B8F;" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0 4.125C0 1.84594 1.91786 0 4.28571 0H4.57143C5.20357 0 5.71429 0.491562 5.71429 1.1C5.71429 1.70844 5.20357 2.2 4.57143 2.2H4.28571C3.18214 2.2 2.28571 3.06281 2.28571 4.125V4.4H4.57143C5.83214 4.4 6.85714 5.38656 6.85714 6.6V8.8C6.85714 10.0134 5.83214 11 4.57143 11H2.28571C1.025 11 0 10.0134 0 8.8V4.125ZM9.14286 4.125C9.14286 1.84594 11.0607 0 13.4286 0H13.7143C14.3464 0 14.8571 0.491562 14.8571 1.1C14.8571 1.70844 14.3464 2.2 13.7143 2.2H13.4286C12.325 2.2 11.4286 3.06281 11.4286 4.125V4.4H13.7143C14.975 4.4 16 5.38656 16 6.6V8.8C16 10.0134 14.975 11 13.7143 11H11.4286C10.1679 11 9.14286 10.0134 9.14286 8.8V4.125Z" fill="#086B8F"/>
                                                </svg>
                                            <h2 class="customerReview textColor">“Food is so tasty and yummy.”
                                            </h2>
                                            <span class="wwdDes crDes textColor ">Soundharya Chowdary </span>
                                        </div>
                                    </div>
    
                                    <div class="carousel-item ">
                                        <div class="bg-transparent text-dark ">
                                            <svg width="16" height="11" viewBox="0 0 16 11" fill="#8F5908;" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0 4.125C0 1.84594 1.91786 0 4.28571 0H4.57143C5.20357 0 5.71429 0.491562 5.71429 1.1C5.71429 1.70844 5.20357 2.2 4.57143 2.2H4.28571C3.18214 2.2 2.28571 3.06281 2.28571 4.125V4.4H4.57143C5.83214 4.4 6.85714 5.38656 6.85714 6.6V8.8C6.85714 10.0134 5.83214 11 4.57143 11H2.28571C1.025 11 0 10.0134 0 8.8V4.125ZM9.14286 4.125C9.14286 1.84594 11.0607 0 13.4286 0H13.7143C14.3464 0 14.8571 0.491562 14.8571 1.1C14.8571 1.70844 14.3464 2.2 13.7143 2.2H13.4286C12.325 2.2 11.4286 3.06281 11.4286 4.125V4.4H13.7143C14.975 4.4 16 5.38656 16 6.6V8.8C16 10.0134 14.975 11 13.7143 11H11.4286C10.1679 11 9.14286 10.0134 9.14286 8.8V4.125Z" fill="#8F5908  "/>
                                                </svg>
                                            <h2 class="customerReview textColor">“I love the mirchi bujjis here. They’re tasty and the chutneys are spot‑on—perfect for takeaway.”
                                            </h2>
                                            <span class="wwdDes crDes textColor ">Vijay Alla</span>
                                        </div>
                                    </div>
    
                                </div>
    
                                <div class="carousel-indicators ">
                                    <button type="button" data-bs-target="#offerCarousel1" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#offerCarousel1" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#offerCarousel1" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    <button type="button" data-bs-target="#offerCarousel1" data-bs-slide-to="3" aria-label="Slide 4"></button>
                                    <button type="button" data-bs-target="#offerCarousel1" data-bs-slide-to="4" aria-label="Slide 5"></button>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container my-4 bg-transparent">
                    <div class="row ">
                        <div class="col-12 landing">
                            <p class="laandingHeading mt-15">Our Locations</p>
    
                            <div class="accordion" id="accordionExample">
                                <!-- Item 1 -->
                                <div class="accordion-item">
                                    <!-- Commenting h2 here because it's affecting the button styles -->
                                    <!-- <h2 class="accordion-header" id="headingOne"> -->
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Kukatpally
                                        </button>
                                    <!-- </h2> -->
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <ul class="m-0 p-0 ">
                                                <li class="contact-info ">
                                                    <span class="map ">MIG 25-26, 5th Phase, Hitech City Road, Circle, near Malaysian Township, Kukatpally Housing Board Colony, Kukatpally, Hyderabad, Telangana 500085</span>
                                                </li>
                                                <li class="contact-info ">
                                                    <span class="phone ">+91-9182650986</span>
                                                </li>
                                                <li class="contact-info fw-semibold ">
                                                    <span class="clock ">Open hours</span>
                                                </li>
                                                <li class="contact-info "><span class="pl-30 ">Monday – Friday from 11am to 11:00pm <br> Saturday & Sunday from 11am to 11:00pm</span></li>
                                            </ul>
    
                                            <div class="card-body p-0 mapCont ">
                                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3805.468826613619!2d78.39053299999999!3d17.4851196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb918eb79a9a9d%3A0x4490985d58256f3c!2sChaitanya%20Food%20Court%20%7C%20Kukatpally%20%7C%20Hyderabad!5e0!3m2!1sen!2sin!4v1745226764857!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container my-3 bg-transparent ">
                    <div class="row ">
                        <div class="col-12 landing">
                            <p class="laandingHeading">Office Address</p>
                            <p class="map1">MIG 25-26, 5th Phase, Hitech City Road, Circle, near Malaysian Township, Kukatpally Housing Board Colony, Kukatpally, Hyderabad, Telangana 500085</p>
                            <p class="whatsapp">9182650986</p>
                            <p class="email">chaitanyafoodcourt.ofc &#64; gmail.com</p>
    
                            <img src="../../../assets/images/icons/facebook.png" class="facebook">
                            <img src="../../../assets/images/icons/instagram.png" class="insta">
                        </div>
                    </div>
                </div>
    
                <div class="container my-3 bg-footer-cont ">
                    <div class="row ">
                        <div class="col-md-12 landing">
                            <div class="card border-0 ">
                                <div class="card-body bg-footer textCenter">
                                    <p class="card-text mb-2 d-inline-block pwrBy">Powered By</p>
                                    <img src="../../../assets/images/hyperapps.png" alt="hyperapps " class="d-inline-block hype">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Select Delivery location Bottom Sheet  (selectedLocation)="getSelectedLocation($event)"-->
        <div class="offcanvas offcanvas-bottom bottomSheet" tabindex="-1" id="selectDeliveryLocation">
            <app-select-location></app-select-location>
        </div>
    </div>
}

