@if (loading) {
    <app-menu-loader></app-menu-loader>
} @else {
    <div class="topSection">
        <div class="container p-0 d-block">
            <img class="landingImg" src="../../../assets/images/landing.png">
    
            <div class="landingPageContainer">
                <div class="col-12 p-8">
                    <img class="resLogo" src="../../../assets/images/ankapur-logo.png">
                    <p class="text1">Welcome to</p>
                    <p class="text2">Ankapur Village!</p>
                    <p class="text3">Enjoy your favorite food delivered right to your doorstep.</p>
                    <p class="text4">Set your delivery location to get started</p>
                    <div class="col-md-12 ">
                        <button class="btn searchLocationBtn " data-bs-toggle="offcanvas" data-bs-target="#selectDeliveryLocation"> <span class="btnText ">Select your location </span></button>
                    </div>
                </div>
    
                <div class="container my-3 bg-transparent ">
                    <div class="row ">
                        <div class="col-4 p-05">
                            <div class="off bg-transparent text-dark landingDeals ">
                                <h2>Flat 25% off on all items</h2>
                            </div>
                        </div>
                        <div class="col-4 p-05">
                            <div class="hc bg-transparent text-dark landingDeals ">
                                <h2>No Hidden Charges</h2>
                            </div>
                        </div>
                        <div class="col-4 p-05">
                            <div class="otd bg-transparent text-dark landingDeals ">
                                <h2>On Time Delivery</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container my-3 bg-transparent ">
                    <div class="row ">
                        <div class="col-12">
                            <p class="laandingHeading">About</p>
                            <span class="landingAboutTitle">Enjoy the Taste of Authentic Telangana Cuisine:</span>
                            <span class="landingAboutDes">Ankapur Village Military Hotel brings the rich culinary heritage of Telangana to the heart of Hyderabad. Renowned for our signature Ankapur chicken and other traditional dishes, we offer a unique dining experience that captures the essence of Telangana cuisine.</span>
                        </div>
                    </div>
                </div>
    
                <div class="container my-3 bg-transparent ">
                    <div class="row ">
                        <div class="col-12">
                            <p class="laandingHeading">Gallery</p>
                            <div class="gallery-slider">
                                <img src="../../../assets/images/image1.jpg " />
                                <img src="../../../assets/images/image1.jpg " />
                                <img src="../../../assets/images/image1.jpg " />
                                <img src="../../../assets/images/image1.jpg " />
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="container my-3 bg-transparent ">
                    <div class="row ">
                        <div class="col-12">
                            <p class="laandingHeading">Customer Reviews</p>
    
                            <div id="offerCarousel1" class="carousel slide deals " data-bs-ride="carousel" data-bs-interval="2000">
                                <div class="carousel-inner ">
                                    <!-- Offer Slide -->
                                    <div class="carousel-item active ">
                                        <div class="bg-transparent text-dark ">
                                            <svg width="16" height="11" viewBox="0 0 16 11" fill="#B04F4F;" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0 4.125C0 1.84594 1.91786 0 4.28571 0H4.57143C5.20357 0 5.71429 0.491562 5.71429 1.1C5.71429 1.70844 5.20357 2.2 4.57143 2.2H4.28571C3.18214 2.2 2.28571 3.06281 2.28571 4.125V4.4H4.57143C5.83214 4.4 6.85714 5.38656 6.85714 6.6V8.8C6.85714 10.0134 5.83214 11 4.57143 11H2.28571C1.025 11 0 10.0134 0 8.8V4.125ZM9.14286 4.125C9.14286 1.84594 11.0607 0 13.4286 0H13.7143C14.3464 0 14.8571 0.491562 14.8571 1.1C14.8571 1.70844 14.3464 2.2 13.7143 2.2H13.4286C12.325 2.2 11.4286 3.06281 11.4286 4.125V4.4H13.7143C14.975 4.4 16 5.38656 16 6.6V8.8C16 10.0134 14.975 11 13.7143 11H11.4286C10.1679 11 9.14286 10.0134 9.14286 8.8V4.125Z" fill="#B04F4F"/>
                                                </svg>
    
                                            <h2 class="customerReview textColor">The ambience is simple, but the food is extraordinary. The Ankapur chicken is a must-try. The spices and flavors are just perfect. I will definitely be coming back.</h2>
                                            <span class="wwdDes crDes textColor ">Vikram</span>
                                        </div>
                                    </div>
    
                                    <div class="carousel-item ">
                                        <div class="bg-transparent text-dark ">
                                            <svg width="16" height="11" viewBox="0 0 16 11" fill="#633ECE;" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0 4.125C0 1.84594 1.91786 0 4.28571 0H4.57143C5.20357 0 5.71429 0.491562 5.71429 1.1C5.71429 1.70844 5.20357 2.2 4.57143 2.2H4.28571C3.18214 2.2 2.28571 3.06281 2.28571 4.125V4.4H4.57143C5.83214 4.4 6.85714 5.38656 6.85714 6.6V8.8C6.85714 10.0134 5.83214 11 4.57143 11H2.28571C1.025 11 0 10.0134 0 8.8V4.125ZM9.14286 4.125C9.14286 1.84594 11.0607 0 13.4286 0H13.7143C14.3464 0 14.8571 0.491562 14.8571 1.1C14.8571 1.70844 14.3464 2.2 13.7143 2.2H13.4286C12.325 2.2 11.4286 3.06281 11.4286 4.125V4.4H13.7143C14.975 4.4 16 5.38656 16 6.6V8.8C16 10.0134 14.975 11 13.7143 11H11.4286C10.1679 11 9.14286 10.0134 9.14286 8.8V4.125Z" fill="#633ECE"/>
                                                </svg>
                                            <h2 class="customerReview textColor">I had heard a lot about Ankapur Village Military Hotel, and it lived up to the hype. The Ankapur chicken is spicy and flavorful, just like should be. Great place for a hearty meal.</h2>
                                            <span class="wwdDes crDes textColor ">Nega</span>
                                        </div>
                                    </div>
    
                                    <div class="carousel-item ">
                                        <div class="bg-transparent text-dark ">
                                            <svg width="16" height="11" viewBox="0 0 16 11" fill="#0A8F08;" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0 4.125C0 1.84594 1.91786 0 4.28571 0H4.57143C5.20357 0 5.71429 0.491562 5.71429 1.1C5.71429 1.70844 5.20357 2.2 4.57143 2.2H4.28571C3.18214 2.2 2.28571 3.06281 2.28571 4.125V4.4H4.57143C5.83214 4.4 6.85714 5.38656 6.85714 6.6V8.8C6.85714 10.0134 5.83214 11 4.57143 11H2.28571C1.025 11 0 10.0134 0 8.8V4.125ZM9.14286 4.125C9.14286 1.84594 11.0607 0 13.4286 0H13.7143C14.3464 0 14.8571 0.491562 14.8571 1.1C14.8571 1.70844 14.3464 2.2 13.7143 2.2H13.4286C12.325 2.2 11.4286 3.06281 11.4286 4.125V4.4H13.7143C14.975 4.4 16 5.38656 16 6.6V8.8C16 10.0134 14.975 11 13.7143 11H11.4286C10.1679 11 9.14286 10.0134 9.14286 8.8V4.125Z" fill="#0A8F08"/>
                                                </svg>
                                            <h2 class="customerReview textColor">Fantastic food and great service. The Ankapur chicken is the star of the menu, but everything else we tried was also very tasty. A must-visit for anyone who loves Telangana cuisine.</h2>
                                            <span class="wwdDes crDes textColor ">Arjun</span>
                                        </div>
                                    </div>
                                    <div class="carousel-item ">
                                        <div class="bg-transparent text-dark ">
                                            <svg width="16" height="11" viewBox="0 0 16 11" fill="#086B8F;" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0 4.125C0 1.84594 1.91786 0 4.28571 0H4.57143C5.20357 0 5.71429 0.491562 5.71429 1.1C5.71429 1.70844 5.20357 2.2 4.57143 2.2H4.28571C3.18214 2.2 2.28571 3.06281 2.28571 4.125V4.4H4.57143C5.83214 4.4 6.85714 5.38656 6.85714 6.6V8.8C6.85714 10.0134 5.83214 11 4.57143 11H2.28571C1.025 11 0 10.0134 0 8.8V4.125ZM9.14286 4.125C9.14286 1.84594 11.0607 0 13.4286 0H13.7143C14.3464 0 14.8571 0.491562 14.8571 1.1C14.8571 1.70844 14.3464 2.2 13.7143 2.2H13.4286C12.325 2.2 11.4286 3.06281 11.4286 4.125V4.4H13.7143C14.975 4.4 16 5.38656 16 6.6V8.8C16 10.0134 14.975 11 13.7143 11H11.4286C10.1679 11 9.14286 10.0134 9.14286 8.8V4.125Z" fill="#086B8F"/>
                                                </svg>
                                            <h2 class="customerReview textColor">Ankapur Village Military Hotel has become our favorite spot for dining out. The food is consistently delicious, especially the Ankapur chicken. Highly recommend it to anyone looking for authentic Telangana food.
                                            </h2>
                                            <span class="wwdDes crDes textColor ">Megha</span>
                                        </div>
                                    </div>
    
                                    <div class="carousel-item ">
                                        <div class="bg-transparent text-dark ">
                                            <svg width="16" height="11" viewBox="0 0 16 11" fill="#8F5908;" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0 4.125C0 1.84594 1.91786 0 4.28571 0H4.57143C5.20357 0 5.71429 0.491562 5.71429 1.1C5.71429 1.70844 5.20357 2.2 4.57143 2.2H4.28571C3.18214 2.2 2.28571 3.06281 2.28571 4.125V4.4H4.57143C5.83214 4.4 6.85714 5.38656 6.85714 6.6V8.8C6.85714 10.0134 5.83214 11 4.57143 11H2.28571C1.025 11 0 10.0134 0 8.8V4.125ZM9.14286 4.125C9.14286 1.84594 11.0607 0 13.4286 0H13.7143C14.3464 0 14.8571 0.491562 14.8571 1.1C14.8571 1.70844 14.3464 2.2 13.7143 2.2H13.4286C12.325 2.2 11.4286 3.06281 11.4286 4.125V4.4H13.7143C14.975 4.4 16 5.38656 16 6.6V8.8C16 10.0134 14.975 11 13.7143 11H11.4286C10.1679 11 9.14286 10.0134 9.14286 8.8V4.125Z" fill="#8F5908  "/>
                                                </svg>
                                            <h2 class="customerReview textColor">The Ankapur chicken here is absolutely amazing! The flavors are authentic and remind me of my hometown. This is the best place in Hyderabad for traditional Telangana cuisine.
                                            </h2>
                                            <span class="wwdDes crDes textColor ">Sai</span>
                                        </div>
                                    </div>
    
                                </div>
    
                                <div class="carousel-indicators ">
                                    <button type="button" data-bs-target="#offerCarousel1" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#offerCarousel1" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#offerCarousel1" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    <button type="button" data-bs-target="#offerCarousel1" data-bs-slide-to="3" aria-label="Slide 4"></button>
                                    <button type="button" data-bs-target="#offerCarousel1" data-bs-slide-to="4" aria-label="Slide 5"></button>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container my-4 bg-transparent">
                    <div class="row ">
                        <div class="col-12 landing">
                            <p class="laandingHeading mt-15">Our Locations</p>
    
                            <div class="accordion" id="accordionExample">
                                <!-- Item 1 -->
                                <div class="accordion-item">
                                    <!-- Commenting h2 here because it's affecting the button styles -->
                                    <!-- <h2 class="accordion-header" id="headingOne"> -->
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Hitech City
                                        </button>
                                    <!-- </h2> -->
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <ul class="m-0 p-0 ">
                                                <li class="contact-info ">
                                                    <span class="map ">House 1/89/2/1/21, Plot 10, 21 And 21A, Survey 37-41, 43-47 & 49, Near Bharat Petrol Pump, Madhapur, Hyderabad</span>
                                                </li>
                                                <li class="contact-info ">
                                                    <span class="phone ">+91-7995854986</span>
                                                </li>
                                                <li class="contact-info fw-semibold ">
                                                    <span class="clock ">Open hours</span>
                                                </li>
                                                <li class="contact-info "><span class="pl-30 ">Monday – Friday from 11am to 11:30pm <br> Saturday & Sunday from 11am to 11:30pm</span></li>
                                            </ul>
    
                                            <div class="card-body p-0 mapCont ">
                                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d30468.04554232425!2d78.565699!3d17.339383!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcba3427bf787ad%3A0xd353a7d2d429feb!2sAnkapur%20Village%20-%20A%20Military%20Hotel%20(Vanasthalipuram)!5e0!3m2!1sen!2sin!4v1739698519949!5m2!1sen!2sin "
                                                    width="100% " style="border:0; " allowfullscreen=" " loading="lazy " referrerpolicy="no-referrer-when-downgrade "></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                                <!-- Item 2 -->
                                <div class="accordion-item">
                                    <!-- <h2 class="accordion-header" id="headingTwo"> -->
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Madhapur
                                        </button>
                                    <!-- </h2> -->
                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <ul class="m-0 p-0 ">
                                                <li class="contact-info ">
                                                    <span class="map ">House 1/89/2/1/21, Plot 10, 21 And 21A, Survey 37-41, 43-47 & 49, Near Bharat Petrol Pump, Madhapur, Hyderabad</span>
                                                </li>
                                                <li class="contact-info ">
                                                    <span class="phone ">+91-799500999</span>
                                                </li>
                                                <li class="contact-info fw-semibold ">
                                                    <span class="clock ">Open hours</span>
                                                </li>
                                                <li class="contact-info "><span class="pl-30 ">Monday – Friday from 11am to 11:30pm <br> Saturday & Sunday from 11am to 11:30pm</span></li>
                                            </ul>
    
                                            <div class="card-body p-0 mapCont ">
                                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d30468.04554232425!2d78.565699!3d17.339383!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcba3427bf787ad%3A0xd353a7d2d429feb!2sAnkapur%20Village%20-%20A%20Military%20Hotel%20(Vanasthalipuram)!5e0!3m2!1sen!2sin!4v1739698519949!5m2!1sen!2sin "
                                                    width="100% " style="border:0; " allowfullscreen=" " loading="lazy " referrerpolicy="no-referrer-when-downgrade "></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                                <!-- Item 3 -->
                                <div class="accordion-item">
                                    <!-- <h2 class="accordion-header" id="headingThree"> -->
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Gandipet
                                        </button>
                                    <!-- </h2> -->
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <ul class="m-0 p-0 ">
                                                <li class="contact-info ">
                                                    <span class="map ">House 1/89/2/1/21, Plot 10, 21 And 21A, Survey 37-41, 43-47 & 49, Near Bharat Petrol Pump, Madhapur, Hyderabad</span>
                                                </li>
                                                <li class="contact-info ">
                                                    <span class="phone ">+91-7995854986</span>
                                                </li>
                                                <li class="contact-info fw-semibold ">
                                                    <span class="clock ">Open hours</span>
                                                </li>
                                                <li class="contact-info "><span class="pl-30 ">Monday – Friday from 11am to 11:30pm <br> Saturday & Sunday from 11am to 11:30pm</span></li>
                                            </ul>
    
                                            <div class="card-body p-0 mapCont ">
                                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d30468.04554232425!2d78.565699!3d17.339383!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcba3427bf787ad%3A0xd353a7d2d429feb!2sAnkapur%20Village%20-%20A%20Military%20Hotel%20(Vanasthalipuram)!5e0!3m2!1sen!2sin!4v1739698519949!5m2!1sen!2sin "
                                                    width="100% " style="border:0; " allowfullscreen=" " loading="lazy " referrerpolicy="no-referrer-when-downgrade "></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="accordion-item">
                                    <!-- <h2 class="accordion-header" id="headingFour"> -->
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            Vanasthalipuram
                                        </button>
                                    <!-- </h2> -->
                                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <ul class="m-0 p-0 ">
                                                <li class="contact-info ">
                                                    <span class="map ">House 1/89/2/1/21, Plot 10, 21 And 21A, Survey 37-41, 43-47 & 49, Near Bharat Petrol Pump, Madhapur, Hyderabad</span>
                                                </li>
                                                <li class="contact-info ">
                                                    <span class="phone ">+91-7995854986</span>
                                                </li>
                                                <li class="contact-info fw-semibold ">
                                                    <span class="clock ">Open hours</span>
                                                </li>
                                                <li class="contact-info "><span class="pl-30 ">Monday – Friday from 11am to 11:30pm <br> Saturday & Sunday from 11am to 11:30pm</span></li>
                                            </ul>
    
                                            <div class="card-body p-0 mapCont ">
                                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d30468.04554232425!2d78.565699!3d17.339383!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcba3427bf787ad%3A0xd353a7d2d429feb!2sAnkapur%20Village%20-%20A%20Military%20Hotel%20(Vanasthalipuram)!5e0!3m2!1sen!2sin!4v1739698519949!5m2!1sen!2sin "
                                                    width="100% " style="border:0; " allowfullscreen=" " loading="lazy " referrerpolicy="no-referrer-when-downgrade "></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container my-3 bg-transparent ">
                    <div class="row ">
                        <div class="col-12 landing">
                            <p class="laandingHeading">Office Address</p>
    
                            <p class="map1">Floor No.: Ground Floor, Building No.: 167/1,Madhuri Sadan, Gandipet, Hyderabad, 500075</p>
                            <p class="whatsapp">8121040377</p>
                            <p class="email">venudharr &#64; ankapurvillage.com</p>
    
                            <img src="../../../assets/images/icons/facebook.png" class="facebook">
                            <img src="../../../assets/images/icons/instagram.png" class="insta">
                        </div>
                    </div>
                </div>
    
                <div class="container my-3 bg-footer-cont ">
                    <div class="row ">
                        <div class="col-md-12 landing">
                            <div class="card border-0 ">
                                <div class="card-body bg-footer textCenter">
                                    <p class="card-text mb-2 d-inline-block pwrBy">Powered By</p>
                                    <img src="../../../assets/images/hyperapps.png " alt="hyperapps " class="d-inline-block hype">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Select Delivery location Bottom Sheet  (selectedLocation)="getSelectedLocation($event)"-->
        <div class="offcanvas offcanvas-bottom bottomSheet" tabindex="-1" id="selectDeliveryLocation">
            <app-select-location></app-select-location>
        </div>
    </div>
}

