.coupon-container{
    
}

.coupon-content{
    font-size: 13px;
    font-weight: 600;
}

.view-coupons{
    padding-left: 60px !important;
}

html {
    scroll-behavior: smooth;
  }

  .address-block{
    padding: 0 12px;
   .addressDetails{
    border-radius: 10px;

    .simpleBtn{
        float: right;
    }
   }
  }