<div class="cartBody">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container p-0 d-flex">
            <button class="navbar-toggler headerButtonLeft " type="button " data-bs-toggle="offcanvas" data-bs-target="#contactSupport">
                <img src="assets/images/icons/back.png " (click)="goBack();" class="headerIconLeft "  >
            </button>
            <div class="d-inline-block">
                <a class="navbar-brand cartHeader" href="">Account</a>
            </div>
            <button class="navbar-toggler headerButton " type="button " data-bs-toggle="offcanvas" data-bs-target="#contactSupport">
            <img src="assets/images/icons/support.png " class="headerIcon "  >
        </button>
        </div>
    </nav>

    <div class="container my-3 bg-transparent ">
        <div class="row ">
            <div class="col-md-12 accountContainer ">
                <img src="assets/images/icons/user.png " class="userIcon ">
                <p class="accTitle"> {{customerDetails?.name | titlecase}} </p>
                <p class="accDes">+91-{{customerDetails.mobile}} </p>
                <!-- <button class="btn btnLight">Edit</button> -->
            </div>
        </div>
    </div>

    <div class="container my-3 bg-transparent ">
        <div class="row ">
            <div class="col-md-12 accountList ">
                <ul>
                    <li class="cursor-pointer" title="View Order History" (click)="ordersPage()">Your Orders</li>
                    <li class="cursor-pointer" title="Saved Address" (click)="addressPage()">Address Book</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="container my-3 bg-transparent ">
        <div class="row ">
            <div class="col-md-12 accountBtn ">
                <button class="btn plainButton" (click)="logout()"> Logout</button>
            </div>
        </div>
    </div>
</div>