<div *ngIf="loading" class="loader-overlay">
    <app-menu-loader></app-menu-loader>
    <p>Loading, please wait...</p>
</div>

<div *ngIf="!loading" class="scroll-container" [ngClass]="{'storeClosed':restaurentActive == false, 'service-unavailable': !serviceable || !workingHours}">
    <!-- Header -->
    <div class="topSection">
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
            <div class="container p-0 d-block">
                <div class="d-inline-block">

                    <!-- Command line also important -->

                    <!-- <a class="navbar-brand selectLocation" href="" data-bs-toggle="offcanvas" data-bs-target="#selectDeliveryLocation">Select Location</a> -->
                    <a class="navbar-brand selectLocation" href="" data-bs-toggle="offcanvas"
                        data-bs-target="#selectDeliveryLocation"><span class="selectLocationAddress"
                            data-toggle="tooltip" data-placement="bottom" title="{{selectedLocationData}}">
                            {{selectedLocationData}} </span></a>

                    <br>
                    @if(availableBranchData?.length > 1 && (restaurentId == null || restaurentId == undefined) ){
                    <span class="outlet" title="Click to View Branches"  (click)="openOffcanvas('selectOutlet');" >
                        select Outlet >
                    </span>
                    } @else if(restaurentId != null || restaurentId != undefined) {
                    <div class="restauran-brancht-info">
                        <span class="outlet" 
                            (click)="openOffcanvas('selectOutlet'); checkChangeBranch = true;" title="Click to View Branches">Outlet: {{
                            branchData?.restaurantName }} </span>
                        <span class="badge storeOpen ">Open</span>
                    </div>
                    <!-- (click)="showBranches()" -->
                    }

                </div>
                <button class="navbar-toggler headerButton" type="button" data-bs-target="#navbarNav" id="menuButton"
                    data-bs-toggle="dropdown">
                    <img src=" assets/images/icons/menu.png " class="headerIcon ">
                </button>
                <ul class="dropdown-menu dropdown-menu-end menuItem" aria-labelledby="menuButton ">
                    <li><a class="account dropdown-item" [routerLink]="['/my-account']">Account</a></li>
                    <li><a (click)="scrollToSections('about')" class="about dropdown-item">About</a></li>
                    <li><a (click)="scrollToSections('gallery')" class="gallery dropdown-item">Gallery</a></li>
                    <!-- <li><a class="contact dropdown-item" >Contact</a></li> -->
                </ul>
                <button class="navbar-toggler headerButton " type="button " data-bs-toggle="offcanvas"
                    data-bs-target="#contactSupport">
                    <img src="assets/images/icons/support.png " class="headerIcon ">
                    <!-- @if(showTracking){
                        <img  src="assets/images/icons/preparingFood.png" title="Track Order" (click)="orderTrack()" class="headerIcon mx-2">
                    } -->
                </button>
                <app-feedback 
                    [buttonText]="'Feedback'"
                    [buttonClass]="'navbar-toggler headerButton'"
                    [customerName]="customerDetails?.name || ''"
                    [orderId]="customerDetails?.id || ''"
                    [restaurantName]="restaurentName || restaurentId?.toString() || ''"
                    [showAsButton]="true"
                    (feedbackSubmitted)="onFeedbackSubmitted($event)"
                    (feedbackError)="onFeedbackError($event)">
                </app-feedback>
            </div>
        </nav>

        

        @if(!restaurentActive || !serviceable || !workingHours){
        <div class="container my-2 bg-transparent outletclosedContainer" *ngIf="restaurentActive == false || serviceable == false || workingHours == false">
            <div class="outletClosed">
                <div class="row p-0">
                    <div class="col-3 p-0">
                        <img src="assets/images/icons/storeClosed.png ">
                    </div>
                    <div class="col-9 pad">
                        <button>change</button>
                        <p class="title">Oops! Outlet Closed</p>
                        <p>This outlet isn’t accepting orders right now. We’ll be back at 11:00 AM.</p>
                    </div>
                </div>
            </div>
        </div>
    }
        
    <div *ngIf="!serviceable || !restaurentActive || workingHours==false" class="my-3 bg-danger overflow-hidden" style="margin-left: -1.4rem; margin-right: -1.3rem;">
        <!-- Zomato-style banners -->
        <div *ngIf="weatherAlert" class="p-10 overflow-hidden">
          <marquee behavior="scroll" direction="left" scrollamount="3" class="text-white text-decoration-bold" style="margin-left: 10%; margin-right: 10%;">
            {{ weatherAlert }}
          </marquee>
        </div>
        <!-- <div *ngIf="customerMessage" class="zomato-banner zomato-comm">
          <span class="zomato-icon">📞</span>
          <span class="zomato-text">{{ customerMessage }}</span>
        </div> -->
      </div>
    <!-- Search Box -->

        <div class="container my-2 bg-transparent ">
            <div class="row ">
                <div class="col-md-12 pos-rel ">
                    <img src="assets/images/icons/search.png " class="searchIcon ">
                    <input type="text " class="form-control searchText" [(ngModel)]="searchKeyword"
                        placeholder="Search for dishes ">
                </div>
            </div>
        </div>

        <!-- Select Button -->

        <!-- <div class="container my-3 bg-transparent ">
            <div class="row ">
                <div class="col-md-12 ">
                    <button class="btn searchLocationBtn " data-bs-toggle="offcanvas"
                        data-bs-target="#selectDeliveryLocation"> <span class="btnText ">Select your location
                        </span></button>
                </div>
            </div>
        </div> -->

        <!-- Carosel -->
        <div class="container my-4 bg-transparent ">
            <div class="row ">
                <div class="col-md-12 ">
                    <div id="offerCarousel" class="carousel slide deals" data-bs-ride="carousel"
                        data-bs-interval="2000">
                        <div class="carousel-inner ">
                            <!-- Offer Slide -->
                            <div class="carousel-item active ">
                                <div class="off bg-transparent text-dark ">
                                    <h2 class="wwdTitle ">25% Off on all items</h2>
                                    <span class="wwdDes ">Don’t miss out!</span>
                                </div>
                            </div>
                            <div class="carousel-item ">
                                <div class="hc bg-transparent text-dark ">
                                    <h2 class="wwdTitle ">No Hidden Charges</h2>
                                    <span class="wwdDes ">We take that seriously!</span>
                                </div>
                            </div>

                            <div class="carousel-item ">
                                <div class="otd bg-transparent text-dark ">
                                    <h2 class="wwdTitle ">On Time Delivery</h2>
                                    <span class="wwdDes ">Delivery within 30-40 mins</span>
                                </div>
                            </div>
                        </div>


                        <!-- Indicators -->
                        <div class="carousel-indicators ">
                            <button type="button " data-bs-target="#offerCarousel" data-bs-slide-to="0" class="active "
                                aria-label="Slide 1 "></button>
                            <button type="button " data-bs-target="#offerCarousel" data-bs-slide-to="1"
                                aria-label="Slide 2 "></button>
                            <button type="button " data-bs-target="#offerCarousel" data-bs-slide-to="2"
                                aria-label="Slide 3 "></button>
                            <!-- <button type="button " data-bs-target="#offerCarousel" data-bs-slide-to="3"
                                aria-label="Slide 4 "></button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Category -->

        <!-- <div class="container my-5 bg-transparent ">
            <div class="row ">
                <div class="col-md-12 ">
                    <div class="card bg-transparent border-0 ">
                        <div class="card-body p-0 ">
                            <div class="sliderCategory d-flex overflow-auto" (wheel)="onScroll($event)"
                                #sliderContainer>
                                @for (category of menuCategoryData; track $index){
                                <div class="cursor-pointer" title="Click Category" (click)="scrollToSection($index)">
                                    <img src="assets/images/food/food.jpg " />
                                    <span class="categoryText "> {{category!.categoryName | titlecase }}</span>
                                </div>
                                }
                                 <div>
                                    <img src="assets/images/food/food.jpg " />
                                    <span class="categoryText ">Starters</span>
                                </div>
                                <div>
                                    <img src="assets/images/food/food.jpg " />
                                    <span class="categoryText ">Pulaos</span>
                                </div>
                                <div>
                                    <img src="assets/images/food/food.jpg " />
                                    <span class="categoryText ">Soups</span>
                                </div>
                                <div>
                                    <img src="assets/images/food/food.jpg " />
                                    <span class="categoryText ">Rice & Sides</span>
                                    </div>
                                <div>
                                    <img src="assets/images/food/food.jpg " />
                                    <span class="categoryText ">Starters2</span>
                                </div>
                                <div>
                                    <img src="assets/images/food/food.jpg " />
                                    <span class="categoryText ">Pulaos2</span>
                                </div>
                                <div>
                                    <img src="assets/images/food/food.jpg " />
                                    <span class="categoryText ">Soups2</span>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

    </div>
    <!-- Top Picks -->
    @if(!openSelectBranch){
    <!-- <div class="container my-3 bg-transparent">
        <div class="row  bg-transparent ">
            <div class="col-md-12 col-12">
                <div class="card bg-transparent border-0">
                    <div class="card-body p-0  bg-transparent ">
                        <h5 class="card-title topPickTitle">Top Picks</h5>
                        <div class="slider">
                            <div class="topPick">
                                <div class="topPickImageContainer">
                                    <img src="assets/images/food/food.jpg" class="topPickImage" />
                                    <div class="topPickOffer">25% OFF</div>
                                    <button class="btn topPicksAddButton">+ Add</button>
                                </div>
                                <div class="topPickContent">
                                    <div class="topPickTitleContainer">
                                        <img src="assets/images/icons/non-veg.png" class="topPickFilterIcon">
                                        <h5 class="topPickFoodTitle">Clay Pot Mutton</h5>
                                    </div>
                                    <p>
                                        <span class="topPickPrice">₹ 225</span>
                                        <span class="topPickPriceStrike">₹ 300</span>
                                    </p>
                                </div>
                            </div>

                            <div class="topPick">
                                <div class="topPickImageContainer">
                                    <img src="assets/images/food/food.jpg" class="topPickImage" />
                                    <div class="topPickOffer">25% OFF</div>
                                    <button class="btn topPicksAddButton">+ Add</button>
                                </div>
                                <div class="topPickContent">
                                    <div class="topPickTitleContainer">
                                        <img src="assets/images/icons/non-veg.png" class="topPickFilterIcon">
                                        <h5 class="topPickFoodTitle">Clay Pot Mutton</h5>
                                    </div>
                                    <p>
                                        <span class="topPickPrice">₹ 225</span>
                                        <span class="topPickPriceStrike">₹ 300</span>
                                    </p>
                                </div>
                            </div>

                            <div class="topPick">
                                <div class="topPickImageContainer">
                                    <img src="assets/images/food/food.jpg" class="topPickImage" />
                                    <div class="topPickOffer">25% OFF</div>
                                    <button class="btn topPicksAddButton">+ Add</button>
                                </div>
                                <div class="topPickContent">
                                    <div class="topPickTitleContainer">
                                        <img src="assets/images/icons/non-veg.png" class="topPickFilterIcon">
                                        <h5 class="topPickFoodTitle">Clay Pot Mutton</h5>
                                    </div>
                                    <p>
                                        <span class="topPickPrice">₹ 225</span>
                                        <span class="topPickPriceStrike">₹ 300</span>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


    <!-- Filter -->

    <div class="container mt-4" id="veg-nonveg-filter">
        <!-- Filter Buttons -->
        <div class="text-left mb-3 ">
            <button class="btn btn-transparent filterBtn vegIcon" [ngClass]="{'active':itemFilterType == '1'}"
                (click)="vegNonvegFilter('1')"> Veg</button>
            <button class="btn btn-transparent filterBtn nonVegIcon" [ngClass]="{'active':itemFilterType == '2'}"
                (click)="vegNonvegFilter('2')"> Non Veg</button>

                <!-- Best seller Filter 
            <button class="btn btn-transparent filterBtn" [ngClass]="{'active':itemFilterType == '99'}"
                (click)="vegNonvegFilter('99')"> Best seller</button> -->
        </div>
    </div>
    <div class="container mt-4 ">
        <!-- Loading State -->
        @if (menuLoading) {
            <div class="d-flex justify-content-center align-items-center h-100">
                <img src="../../../../assets/images/icons/loading.gif" class="br-0 h-auto w-25">
            </div>
        } @else {
            <!-- Food Tile -->
            @for (category of menuCategoryData | searchFilter:searchKeyword |vegNonvegFilter:itemFilterType; track $index){
            @if (category.items.length > 0) {
            <div class="card foodCard" [id]="'section-' + $index">
                <h5 class="card-title foodCategory">{{category!.categoryName | titlecase }} ({{category.items.length}})</h5>
                @for (item of category.items; track $index){
                <div class="card-body foodTile ">
                    <div class="row ">
                        <div class="col-7 col-md-7 food-item veg ">
                            @if (item.itemAttributeId == '1'){
                            <img src="assets/images/icons/veg.png " class="filterIcon ">
                            }
                            @if (item.itemAttributeId == '2' || item.itemAttributeId == '24'){
                            <img src="assets/images/icons/non-veg.png " class="filterIcon ">
                            }

                            <!-- Best Seller Badge
                            <span class="badge bestSeller ">Bestseller</span> -->

                            <h5 class="card-title foodTitle "> {{item.itemName }} </h5>
                            <span class="price ">₹ {{ item.price | discountPrice: flatDiscountpercentage }}</span>
                            <span class="priceStrike ">₹ {{ item.price | number:'1.0-0'}}</span> &nbsp;
                            <span class="offer "> {{flatDiscountpercentage}}% OFF</span>
                            <p class="card-text foodDes "> {{ item.itemDescription }}
                            </p>
                            <!-- <span class="foodDesMore ">more</span> -->
                        </div>
                        <div class="col-5 col-md-5 food-item" [ngClass]="{
                                   'foodItemImage': !!item.itemImageUrl,
                                   'foodItemNoImage': !item.itemImageUrl
                                 }">
                            <!-- If item is inactive -->
                            @if (item.active === '0') {
                            @if (item.itemImageUrl) {
                            <img [src]="item.itemImageUrl" class="card-img-top greyImage">
                            }
                            <p class="badge outOfStockDes">Available at 12 PM <br> tomorrow</p>
                            <span class="outOfStock">Out of Stock</span>
                            }
                            @else {
                            @if (item.itemImageUrl) {
                            <img [src]="item.itemImageUrl" class="card-img-top" loading="lazy">
                            }

                            @if (!seletedItemId.includes(item.id) && item.active === '1' && item.addon.length == 0 &&
                            item.variation.length == 0) {
                            <button class="btn btn-transparent addButton" [disabled]="restaurentActive == false || serviceable == false"
                                (click)="selectItem(item)"> + Add</button>
                            }

                            @if ((item.addon.length > 0 || item.variation.length > 0) && (!seletedItemId.includes(item.id)))
                            {
                            <button class='btn btn-transparent addButton' (click)="openOffcanvas('addOn')"  [disabled]="restaurentActive == false || serviceable == false" (click)="selectItem(item)"> +
                                Add</button>
                            }

                            @if (seletedItemId.includes(item.id) && item.active === '1') {
                            <button [disabled]="restaurentActive == false || serviceable == false" class="btn btn-transparent qtyButton">
                                <span (click)="sameAddonConfirmation(item, $index, 'reduce')">-</span>
                                {{item | displayQuantity}}
                                <span (click)="sameAddonConfirmation(item, $index, 'add')">+</span>
                            </button>
                            }

                            @if (item.addon.length > 0 || item.variation.length > 0) {
                            <span class="customisable">Customisable</span>
                            }
                            }
                        </div>
                    </div>
                </div>
                }
            </div>
            }

            }
        }
    </div>


    <!-- License -->

    <div class="container my-3 ">
        <div class="row ">
            <div class="col-md-12 ">
                <div class="card border-0 ">
                    <div class="card-body fssaiCard ">
                        <img src="assets/images/fssai.png " class="d-inline-block ">
                        @if (restaurentId != null || restaurentId != undefined){
                        <p class="card-text d-inline-block ">License No. {{ branchData?.fssai}}</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    }



    <!-- About -->

    <div id="about" class="container my-4 ">
        <div class="row ">
            <div class="col-md-12 ">
                <div class="card border-0 ">
                    <div class="card-body p-0 ">
                        <h5 class="card-title aboutTitle ">📍 About Us</h5>
                        <p class="card-text m-0 aboutDes ">At Mandi King Hyderabad, we bring the rich flavours of traditional Arabian Mandi straight to your plate—right here in Mehdipatnam. Launched with a passion for hearty, aromatic rice and tender slow-cooked meats, we've grown into one of the city’s most beloved Mandi destinations. Expect generous portions, wallet-friendly prices, prompt delivery, and a menu that's as comforting as it is unforgettable. Whether it’s your first bite or fiftieth, every meal is crafted for authenticity and delight.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Gallery -->

    <div id="gallery" class="container my-4 ">
        <div class="row ">
            <div class="col-md-12 ">
                <div class="card border-0 ">
                    <div class="card-body p-0 ">
                        <h5 class="card-title galleryTitle ">Gallery</h5>
                        <div class="gallery-slider ">
                                <img src="../../../assets/images/image1.jpg" />
                                <img src="../../../assets/images/image2.jpg" />
                                <img src="../../../assets/images/image3.jpg" />
                                <img src="../../../assets/images/image4.jpg" />
                                <img src="../../../assets/images/image5.jpg" />
                                <img src="../../../assets/images/image6.jpg" />
                                <img src="../../../assets/images/image7.jpg" />
                                <img src="../../../assets/images/image8.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact -->

    <div class="container my-4 ">
        <div class="row ">
            <div class="col-md-12 ">
                <div class="card border-0 ">
                    <div class="card-body p-1 ">
                        <h5 class="card-title contactTitle ">Contact</h5>
                        <p class="card-text m-2 contactHeading ">{{partnerData?.name | titlecase}}</p>
                        @if (restaurentId != null || restaurentId != undefined) {
                        <!-- <p class="card-text contactDes "> {{ branchData?.restaurantName }} </p> -->

                        <ul class="m-0 p-0 ">
                            <li class="contact-info ">
                                <span class="map "> {{branchData?.address}} </span>
                            </li>
                            <li class="contact-info ">
                                <span class="phone ">+91-{{ branchData?.supportContact}}</span>
                            </li>
                            <li class="contact-info fw-semibold ">
                                <span class="clock ">Open hours</span>
                            </li>
                            <li class="contact-info "><span class="pl-30 ">
                                    Monday – Friday from {{ branchData?.deliveryHours[0].from | timeformat}} to {{
                                    branchData?.deliveryHours[1].to | timeformat }} <br>
                                    Saturday & Sunday from {{ branchData?.deliveryHours[0].from | timeformat}} to {{
                                    branchData?.deliveryHours[1].to | timeformat }} </span></li>
                        </ul>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Map -->
    <div class="container my-4 ">
        <div class="row ">
            <div class="col-md-12 ">
                <div class="card p-0 ">
                    <div class="card-body p-0 mapCont ">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3807.4775335800045!2d78.43736907462701!3d17.38885600276388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb97056a664335%3A0xb2db496d581eb1cd!2sMandi%20King!5e0!3m2!1sen!2sin!4v1749640389230!5m2!1sen!2sin" width="100%" 
                        height="400"
                        style="border:0;" 
                        allowfullscreen 
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Powerby -->

    <div class="container my-3 bg-footer-cont  p-b-70">
        <div class="row ">
            <div class="col-md-12 ">
                <div class="card border-0 ">
                    <div class="card-body bg-footer ">
                        <p class="card-text mb-2 powerby ">Powered By</p>
                        <img src="assets/images/hyperapps.png " alt="hyperapps " class="d-block hyperImage ">
                        <p class="card-text float-end powerby ">www.hyperapps.in</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Menu Button -->
    <!-- Floating Menu -->
    <div class="floating-menu" [ngClass]="{'cart-active': foodBasket.length > 0}">
        <button class="menuBtn " data-bs-toggle="offcanvas" data-bs-target="#foodMenu">
            <img src="assets/images/icons/foodMenu.png ">
            Menu
        </button>
    </div>
  
    <!-- <div class="floating-menu track" [ngClass]="{'cart-active': foodBasket.length > 0}">
        <button class="menuBtn trackBtn"
                title="Track Order"
                (mouseenter)="showLiveOrderId = true"
                (mouseleave)="showLiveOrderId = false"
                (click)="orderTrack()">
            <img src="assets/images/icons/outForDelivery.png">
        </button>
        <div *ngIf="showLiveOrderId && liveOrderId" class="live-order-tooltip">
            Live Order ID: {{ liveOrderId }}
        </div>
    </div> -->

    <!-- Show only when liveOrderId exists -->
    <!-- <div *ngIf="liveOrderId" class="floating-menu track" [ngClass]="{'cart-active': foodBasket.length > 0}">
        <button class="menuBtn trackBtn"
                title="Track Order"
                (click)="goToTodayList()">
            <img src="assets/images/icons/outForDelivery.png">
            <span
            class="live-order-pill"
            *ngFor="let id of liveOrderId"
            (click)="orderTrack($event, id)">
            OrderId: {{ id }}
          </span>        </button>
    </div> -->
    
    <!-- Show only when liveOrderId exists -->
    <div *ngIf="showLiveOrders && restaurentActive && serviceable" class="floating-menu track" [ngClass]="{'cart-active': foodBasket.length > 0}">
        <div class="live-orders-pills">
            <span
                class="live-order-pill fa-bounce"
                *ngFor="let order of liveOrders"
                (click)="orderTrack($event, order)">
                OrderId : {{ order.id }}
            </span>
            <span *ngIf="liveOrders.length > 3" class="more-pill">
                +{{ liveOrders.length - 3 }} more
            </span>
        </div>
        <div *ngIf="showLiveOrders && restaurentActive" class="floating-menu track" [ngClass]="{'cart-active': foodBasket.length > 0}">
            <button class="menuBtn trackBtn" title="Track Order" (click)="goToTodayList()">
                <img src="assets/images/icons/outForDelivery.png"> </button>
        </div>
    </div>

   
    <!-- VIEW CART -->
    @if(foodBasket?.length > 0){
    <div class="container my-3 bg-footer-cart">
        <div class="row ">
            <div class="col-md-12 ">
                <div class="card border-0 ">
                    <div class="card-body bg-cart" [ngClass]="{'disable-block' : !restaurentActive || !serviceable}">
                        <p class="card-text cartItems">
                            
                            <!-- ₹{{cartItemPrice | discountPrice: flatDiscountpercentage}} -->
                            <span class="border-0">
                                {{foodBasket?.length}} Item@if(foodBasket?.length > 2){s}
                            </span>
                            @if(serviceable){
                            <span class="view-cart-btn " [ngClass]="{'disable-block' : !restaurentActive || !serviceable}" (click)="navigateCart();">View Cart</span>
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }

    <!-- VIEW CART -->


    <!-- Food Menu Bottom Sheet -->
    <div class="offcanvas offcanvas-bottom bottomSheet" tabindex="-1" id="foodMenu">
        <!-- Floating Close Button -->
        <div style="position: fixed; top: 28%; left: 44%;background-color: black;border-radius: 50%;">
            <button 
                type="button" 
                class="btn-close"
                aria-label="Close"
                data-bs-dismiss="offcanvas"
                style="
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    font-size: 21px;
                    padding: 0;
                    margin-left: 8px;
                    cursor: pointer;
                    color: white;
                "
                aria-label="Close"
            >
            </button>
        </div>
        <div class="offcanvas-header">
            <h5 class="offcanvas-title btmHeader">Menu</h5>
            <button type="button" class="btn-close bottomClose" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body p-0">
            <ul class="foodBtm">
                @for (category of menuCategoryData; track $index){
                <li class="cursor-pointer" data-bs-dismiss="offcanvas" (click)="scrollToSection($index)">
                    <p class=""
                        [ngClass]="{'menuItemsCategory' : selectedCategoryIndex == $index, 'menuItems': selectedCategoryIndex != $index}">
                        {{category!.categoryName | titlecase }} <span> {{category.items.length}} </span></p>
                </li>
                }
            </ul>
        </div>
    </div>


    <!-- Customer Support Bottom Sheet -->
    <div class="offcanvas offcanvas-bottom bottomSheet" tabindex="-1" id="contactSupport">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title btmHeader">Customer Support</h5>
            <button type="button" class="btn-close bottomClose" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            @if (restaurentId != null || restaurentId != undefined){
            <p class="btmSptCnt ">Restaurant <span>+91-{{ branchData?.supportContact}}</span></p>
            <p class="btmSptCnt ">Hyperapps <span>+91-{{ contactHyperapps }}</span></p>
            }

        </div>
    </div>


    <!-- Select Delivery location Bottom Sheet -->
    <div class="offcanvas offcanvas-bottom bottomSheet" tabindex="-1" id="selectDeliveryLocation">
        <app-select-location (selectedLocationEmit)="getSelectedLocation($event)"></app-select-location>
    </div>

    <!-- Addon variation bottom sheet -->

    <div class="offcanvas offcanvas-bottom bottomSheet" tabindex="-1" id="addOn">
        <!-- Floating Close Button -->
        <div style="position: fixed; top: 23%; left: 44%;background-color: black;border-radius: 50%;">
            <button 
                type="button" 
                class="btn-close"
                aria-label="Close"
                data-bs-dismiss="offcanvas"
                style="
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    font-size: 24px;
                    padding: 0;
                    cursor: pointer;
                    color: white;
                "
                aria-label="Close"
            >
            </button>
        </div>
        
        @if (variationResponse?.length > 0 || addonResponse?.length >0 ) {
        <app-variation-addon [variations]="variationResponse" [addOnChoice]="addonResponse" [menuItem]="selectedItem"
            (addedItem)="getAddedItem($event)"></app-variation-addon>
        }
    </div>

    <!-- Verify Variation Addon -->
    <div class="offcanvas offcanvas-bottom bottomSheet" tabindex="-1" id="verifySameAddon">
        <div class="modal-dialog overflow-hidden">
            <div class="modal-content">
                <div class="modal-body">
                    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><img src="../../../../assets/images/icons/close3.png " ></button> -->
                    <div class="outletChangeContainer">
                        <p class="title">Customisable Item </p>
                        <p class="title2"> The selected Item has Variation / Addon</p>
                        <span class="text1">Select same Variation /Addon or New.</span>
                        <div class="modalBtns">
                            <button class="btn plainButton w-50" (click)="addItemQuantity(addItemQunatityIndex)">Use Same</button>
                            <button class="btn solidButton w-50" (click)="addItemwithNewAddon()">New</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Verify Variation Addon -->
    <!-- Variation Addon  add reduce qunatity cart-->
    <div class="offcanvas offcanvas-bottom bottomSheet" tabindex="-1" id="changeQtyVariationAddon">
        <div class="modal-dialog overflow-hidden">
            <div class="modal-content">
                <div class="modal-body">
                    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><img src="../../../../assets/images/icons/close3.png " ></button> -->
                    <div class="">
                        <p class="title">Customisable Item </p>
                        <p class="title2"> The selected Item has Variation / Addon</p>
                        <div class="container  bg-transparent">
                            <div class="card foodCard ">
                                @for (basketitem of foodBasket; track $index) {
                                    @if(basketitem.id == addItemQunatityIndex){
                                        <div class="card-body foodTile cartFoodTile">
                                            <div class="row ">
                                                <div class="col-8 col-md-8 food-item veg ">
                                                    <h5 class="card-title cartFoodTitle "
                                                        [ngClass]="{'veg': basketitem.item.itemAttributeId == '1' , 'nonVeg' :  basketitem.item.itemAttributeId == '2' || basketitem.item.itemAttributeId == '24'}">
                                                        {{basketitem.item.itemName}} </h5>
                                                    <span [ngClass]="{'addon' : basketitem.addonVariation}">
                                                        {{basketitem.addonVariation?.varients?.name}}
                                                        {{basketitem.addonVariation?.addOnNames}}
                                                    </span>
                            
                                                </div>
                                                <div class="col-4 col-md-4 food-item foodItemImage cartPrice ">
                                                    <button class="btn btn-transparent cartQtyButton ">
                                                        <span (click)="reduceItemQuantity($index)">-</span>
                                                        {{basketitem.item.quantity}}
                                                        <span (click)="addItemQuantity($index)">+</span>
                                                    </button>
                                                    <div class="price-wrapper">
                                                        @if(basketitem?.addonVariation?.varients){
                                                        <span class="priceStrike ">₹ {{basketitem?.addonVariation?.varients.price | number:'1.0-0'
                                                            }}
                                                        </span>
                                                        <span class="price ">₹ {{basketitem?.addonVariation?.varients.price | discountPrice:
                                                            flatDiscountpercentage }} </span>
                                                        } @else {
                                                        <span class="priceStrike">₹ {{basketitem.item.price | number:'1.0-0' }} </span>
                                                        <span class="price">₹ {{basketitem.item.price | discountPrice: flatDiscountpercentage }}
                                                        </span>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Variation Addon  add reduce qunatity cart-->

    <!-- Select Outlet Bottom Sheet -->
    <div class="offcanvas offcanvas-bottom bottomSheet" tabindex="-1" id="selectOutlet">
        @if (checkChangeBranch) {
        <div>
            <app-branch-change (branchChangeAction)="getBranchSelAction($event)"></app-branch-change>
        </div>
        }
        @if (!checkChangeBranch){
        <div class="offcanvas-header">
            <div class="offcanvas-close-wrapper">
  <button type="button" class="circle-close-btn" (mousedown)="$event.preventDefault()" (click)="closeOffcanvas('selectOutlet')">&times;</button>
</div>

<!-- <div class="offcanvas-header">
  <h5 class="offcanvas-title">Select Outlet</h5>
</div> -->
            <!-- <img src="assets/images/icons/back.png " class="backIcon "> -->
            <h5 class="offcanvas-title btmHeaderOut"> Select Outlet</h5>
            <button type="button" class="btn-close bottomClose" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">

            <ul class="outletBtm">
                @for (item of partnerData?.restaurantDetails; track $index) {
                <li class="mb-1" (click)="selectBranch($index)">
                  <img src="assets/images/icons/forward.png" class="forwardIcon">
                  <div class="outlet-info">
                    <p class="outletAddr" >
                      {{item.restaurantName}}
                    </p>

                    <div class="outlet-meta">
                      <span class="outletDes">{{item.address}}</span>
                      <span class="badge" [ngClass]="item.active ? 'bg-success' : 'bg-danger' ">
                        {{item.active ? 'Open Now' : 'Closed'}}
                        </span>
                    @if (getOutletDistance(item)) {
                        <span class="outlet-distance">~ {{getOutletDistance(item)}} km away</span>
                        }
                    </div>
                  </div>
                </li>
                }
              </ul>
        </div>
        }
    </div>
</div>
