.view-cart-btn,
.outlet,
.outletAddr,
.outletDes {
    cursor: pointer;
}

[ng-cloak], .ng-cloak {
  display: none !important;
}

.unavailableStore {

    color: #b7b7b7;
    cursor: default;

}

.restauran-brancht-info{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 8px;
}


.gallery-slider{
    display: flex;
    height: 120px;
    gap: 12px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
}

.gallery-slider img{
    width: 120px;
    height: 120px;
    border-radius: 12px;
    scroll-snap-align: center;
}

.gallery-slider::-webkit-scrollbar {
    display: none;
}

.floating-menu.track {

  .live-orders-pills {
      margin-bottom: 63px;
      display: flex;
      flex-direction: column;
      gap: 6px;
      align-items: flex-end;
      margin-left: -32px;
  }

  .live-order-pill, .more-pill {
      background: red;
      color: white;
      border-radius: 14px;
      padding: 4px 4px;
      font-size: 8px;
      // margin-left: -44px;
      cursor: pointer;
      border: 1px solid #ddd;
      transition: background 0.15s;
      user-select: none;
  }

  .live-order-pill:hover {
      background: #1870ae;
  }

}

@keyframes fa-bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-0.5em);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.125em);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.fa-bounce {
  display: inline-block;
  transform-origin: center bottom;
  animation-name: fa-bounce;
  animation-delay: var(--fa-animation-delay, 0s);
  animation-direction: var(--fa-animation-direction, normal);
  animation-duration: var(--fa-animation-duration, 1.4s);
  animation-iteration-count: var(--fa-animation-iteration-count, infinite);
  animation-timing-function: var(--fa-animation-timing, cubic-bezier(0.28, 0.84, 0.42, 1));
       
}

.offerCarousel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
}

.carousel-inner {
    display: flex;
    align-items: center;
  }
.carousel-item {
    flex: 0 0 auto;
    width: 250px;
    height: 60px;
    background: transparent; 
    border-radius: 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  @media (max-width: 380px) {
    .carousel-item {
        width: 202px;
        margin-left: 4px;
        height: 73px;
    }
    .wwdTitle {
        font-size: 12px;
    }
    .wwdDes {
        font-size: 10px;
    }
  }
  #offerCarousel {
    max-width: 100%;
  }

  .sliderCategory {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    max-width: 100vw; 
    padding: 0 10px;
  }

  .sliderCategory::-webkit-scrollbar {
    display: none; 
  }

  .sliderCategory > div {
    scroll-snap-align:center start;
    width: 100px;
    flex-shrink: 0;
  }

  .category-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 6px;
  }

  .categoryText {
    display: block;
    font-size: 13px;
    font-weight: 500;
    color: #000000;
  }
 
  .slider {
    display: flex;
    gap: 15px;
    overflow-x:auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 10px;
    scroll-snap-type: x mandatory;
  
  }
  .offcanvas-close-wrapper {
  position: absolute;
  top: 10px;  
  right: 10px; 
  z-index: 1055; 
}

.circle-close-btn {
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}


  .slider::-webkit-scrollbar {
    display: none; 
  }

  .topPick {
    flex: 0 0 auto;
    width: 170px;
    background: transparent;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 10px;
    scroll-snap-align: center;
    
  }

  .topPickImageContainer {
    position: relative;
    width: 100%;
    height: 120px;
    border-radius: 12px;
    overflow: visible;

    border: 3px solid white; 
  }

  .topPickImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }

  .topPickOffer {
    // position: absolute;
    background: #d901d7;
    color: white;
    font-size: 12px;
    font-weight: bold;
   
    border-radius: 10px;
  }

  .topPicksAddButton {
    position: absolute;
    left: 50%;
    height: 30px;
    top: 85%;
    transform: translateX(-50%);
    background: #FEECE7;
    border: 1px solid #ff4d4d;
    color: #ff4d4d;
    font-weight: bold;
    font-size: 14px;
    width: 90px;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);

   
  }

  .topPicksAddButton:hover {
    background: #ff4d4d;
    color: white;
  }

  .topPickContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    width: 100%;
  }

  .topPickTitleContainer {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .topPickFilterIcon {
    width: 15px;
  }

  .topPickFoodTitle {
    font-size: 13px;
    font-weight: 700;
  }

  .topPickPrice {
    font-size: 14px;
    font-weight: bold;
    color: #ff4d4d;
  }

  .topPickPriceStrike {
    font-size: 12px;
    color: gray;
    text-decoration: line-through;
    margin-left: 5px;
  }

  .p-b-70{
    padding-bottom: 70px;
  }
.disable-block{
  background-color: #cacaca;
}
  /* Hide scrollbar - still scrollable */
.scroll-container {
  height: 100vh;
  overflow-y: auto; 
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}

.outlet-distance {
  background: #f5f5f5;
  padding: 2px 8px;
  border-radius: 10px;
  font-size: 0.8rem;
  color: #555;
  float: right;
}

.unavailableStore {
  opacity: 0.6;
  text-decoration: line-through;
}

// .scroll-container::-webkit-scrollbar {
//   display: none;            
// }