
$primary-text-color: #000000;
$primary-theme-solid-color: #D20500;
.navbar-brand:hover {
    color: $primary-text-color !important;
}
.btn:hover {
    border-color: $primary-theme-solid-color !important;
}