<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><img src="../../../../assets/images/icons/close3.png " ></button> -->
            <div class="outletChangeContainer">
                <p class="title">Alert!</p>
                <p class="title2"> Your Cart Will Be Cleared</p>
                <span class="text1">Changing the outlet will remove all items from your cart.</span>
                <div class="modalBtns">
                    <button class="btn plainButton w-50" (click)="action('continue')">Continue</button>
                    <button class="btn solidButton w-50" (click)="action('cancel')">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>